<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Files</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/files.css"/>
    </head>
    <body data-sort="{{sort}}">
        <h1>Uploads</h1>
        <a onclick="confirm('Are you sure you want to delete EVERYTHING?') ? window.location = '/delete/all' : void 0;" class="wipe">Delete all</a>
        <a href="/upload" class="upload">
            <div><i class="fas fa-plus"></i></div>
        </a>
        <table class="pics">
            <thead>
                <tr>
                    <th><a href="/">Filename</a></th>
                    <th><a href="/?sort=size" class="size-sort">Size</a></th>
                    <th><a href="/" class="default-sort">Uploaded</a></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each files}}
                    <tr>
                        <td>
                            <a href="{{name}}">{{name}} <i class="fas fa-external-link-square-alt"></i></a>
                        </td>
                        <td>
                            {{size}}
                        </td>
                        <td>
                            {{uploaded}}
                        </td>
                        <td class="delete">
                            <a href="/delete/{{name}}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </body>
</html>